@page "/Consultas"
    <h3>Registros</h3>

    <div class="form-row">
        <div class="card" style="width: 18rem;">
            <img src="usuario.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Usuarios</h5>
                <p class="card-text">Aquí encontraras la consulta de los usuarios.</p>
                <a href="CUsuarios" class="btn btn-primary">Consultar usuarios</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Clientes</h5>
                <p class="card-text">Aquí encontraras la consulta de los clientes.</p>
                <a href="CClientes" class="btn btn-primary">Consultar clientes</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Productos</h5>
                <p class="card-text">Aquí encontraras la consulta de los productos.</p>
                <a href="CProductos" class="btn btn-primary">Consultar productos</a>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pedidos</h5>
                <p class="card-text">Aquí encontraras la consulta de los pedidos.</p>
                <a href="CPedidos" class="btn btn-primary">Consultar pedidos</a>
            </div>
        </div>
    </div>

