@page "/loginS"
@inject NavigationManager NavigationManager
@using System.Web;
<h3>LoginS</h3>

<h1 class="titulo">Inicio de Sesion</h1>

<EditForm Model="Usuario">
    <div class="form-group">
        <label class="text-white">Usuario</label>
        <InputText @bind-Value="Usuario.Usuario" class="form-control" />
    </div>

    <div class="form-group">
        <label class="text-white">Contraseña </label>
        <input type="password" class="form-control" @bind-value="Usuario.Clave" />
    </div>

    <div class="form-group">
        <a class="btn btn-success btn-block"
           href="/login?paramUsername=@encode(Usuario.Usuario)&paramPassword=@encode(Usuario.Clave)" target="_top">Login</a>

        <a class="btn btn-danger btn-block" href="/">Volver al Home</a>
    </div>
</EditForm>


@code {

    public Usuarios Usuario { get; set; }


    protected override void OnInitialized()
    {
        Usuario = new Usuarios();
    }



    private string encode(string param)
    {
        return HttpUtility.UrlEncode(param);
    }

}

