@page "/RClientes/{ClienteId:int}"


<div class="card bg-dark text-light">
    <div class="card-body ">
        <h1>Registro Clientes</h1>

        <EditForm Model="@clientes" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <label for="ClienteId">Id</label>
            <div class="form-inline">
                <InputNumber @bind-Value="clientes.ClienteId" class="form-control " />
                <button type="button" class="btn btn-success mx-sm-3" @onclick="Buscar">Buscar</button>
            </div>
            <br />
            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <InputText @bind-Value="clientes.Nombre" class="form-control col-md-2" />

            </div>
            <div class="form-group">
                <label for="Nombre">Email</label>
                <InputText @bind-Value="clientes.Email" class="form-control col-md-2" />

            </div>
            <div class="form-group">
                <label for="Nombre">Telefono</label>
                <InputText @bind-Value="clientes.Telefono" class="form-control col-md-2" />

            </div>
            

            <br />

            <div class="form-group">
                <button type="submit" class="col-md-2 btn btn-primary">Guardar</button>
                <button type="button" class="col-md-2 btn btn-info" @onclick="Limpiar">Limpiar</button>
                <button type="button" class="col-md-2 btn btn-danger" @onclick="Eliminar">Eliminar</button>
            </div>

            <h3>@Mensaje</h3>
        </EditForm>
    </div>
</div>



@code {
    [Parameter]
    public int ClienteId { get; set; }
    ControllersCliente controllers = new ControllersCliente();

    Clientes clientes = new Clientes();
    public string Mensaje;

    protected override void OnInitialized()
    {
        if (ClienteId != 0)
        {
            clientes.ClienteId = ClienteId;
            Buscar();
        }
    }
    private void Guardar()
    {
        if (clientes.ClienteId == 0)
        {
            controllers.Guardar(clientes);
            Mensaje = "Guardo";
            Limpiar();
        }
        else
        {
            if (controllers.Buscar(clientes.ClienteId) != null)
            {
                controllers.Modificar(clientes);
                Mensaje = "Modifico";
                Limpiar();
            }

        }
    }
    private void Limpiar()
    {
        clientes = new Clientes();
    }
    private void Eliminar()
    {
        if (clientes.ClienteId != 0)
        {
            if (controllers.Buscar(clientes.ClienteId) != null)
            {

                controllers.Eliminar(clientes.ClienteId);
                Mensaje = "Eliminado";
                Limpiar();

            }
            else
            {
                Mensaje = "Id no existe";
            }

        }
        else
        {
            Mensaje = "Selecione un ID";
        }

    }
    private void Buscar()
    {
        if (clientes.ClienteId != 0)
        {
            if (controllers.Buscar(clientes.ClienteId) != null)
            {

                clientes = controllers.Buscar(clientes.ClienteId);

            }
            else
            {
                Mensaje = "Id no existe";
            }

        }
        else
        {
            Mensaje = "Selecione un ID";
        }


    }
}