@page "/Registros"

<h3>Registros</h3>


        <div class="form-row">
            <div class="card" style="width: 18rem;">
                <img src="/css/img/usuarios.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Usuarios</h5>
                    <p class="card-text">Aquí encontraras el registro de los usuarios.</p>
                    <a href="RUsuarios/0" class="btn btn-primary">Registrar usuarios</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="/css/img/clientes.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">Aquí encontraras el registro de los clientes.</p>
                    <a href="RClientes/0" class="btn btn-primary">Registrar clientes</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="/css/img/ferreteria.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Productos</h5>
                    <p class="card-text">Aquí encontraras el registro de los productos.</p>
                    <a href="RProductos/0" class="btn btn-primary">Registrar productos</a>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="card" style="width: 18rem;">
                <img src="/css/img/pedidos.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pedidos</h5>
                    <p class="card-text">Aquí encontraras el registro de los pedidos.</p>
                    <a href="RPedidos/0" class="btn btn-primary">Registrar pedidos</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/css/img/provedores.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Provedores</h5>
                    <p class="card-text">Aquí encontraras el registro de los provedores.</p>
                    <a href="RProveedores/0" class="btn btn-primary">Registrar provedores</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/css/img/quejas.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Quejas</h5>
                    <p class="card-text">Aquí encontraras el registro de las quejas.</p>
                    <a href="RQuejas/0" class="btn btn-primary">Registrar quejas</a>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="card" style="width: 18rem;">
                <img src="/css/img/categoria.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Categoria de articulos</h5>
                    <p class="card-text">Aquí encontraras el registro de categoria de articulos.</p>
                    <a href="RCategoriaArticulos/0" class="btn btn-primary">Registrar categoria de articulos</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/css/img/tipos.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tipos de clientes</h5>
                    <p class="card-text">Aquí encontraras el registro de los tipos de clientes.</p>
                    <a href="RTipoCliente/0" class="btn btn-primary">Registrar tipos de clientes</a>
                </div>
            </div>
        </div>


        @code {

        }
