@page "/RProveedores/{ProveedoresId:int}"


<h1>Registro Proveedores</h1>

<EditForm Model="@proveedores" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container">
        <label for="ProveedorId" class="col-md-2 col-form-label"> ProveedorId</label>
        <input type="number" class="col-md-2 form-check" @bind="proveedores.ProveedorId" />
        <br />

        <button type="button" class="col-md-2 btn btn-info" @onclick="Buscar">Buscar</button>

    </div>
    <div class="container">
        <label for="Nombres" class="col-md-2 col-form-label">Nombres</label>
        <input type="text" class="form-check col-md-2" @bind="proveedores.Nombres" />
    </div>
    <div class="container">
        <label for="Direccion" class="col-md-2 col-form-label">Direccion</label>
        <input type="text" class="form-check col-md-2" @bind="proveedores.Direccion" />
    </div>
    <div class="container">
        <label for="Telefono" class="col-md-2col-form-label">Telefono</label>
        <input type="number" class="col-md-2 form-check" @bind="proveedores.Telefono" />
    </div>

    <div class="form-group">
        <button type="submit" class="col-md-2 btn btn-primary">Guardar</button>
        <button type="button" class="col-md-2 btn btn-info" @onclick="Limpiar">Limpiar</button>
        <button type="button" class="col-md-2 btn btn-danger" @onclick="Eliminar">Eliminar</button>
    </div>

    <h3>@Mensaje</h3>
</EditForm>


@code {
    [Parameter]
    public int ProveedoresId { get; set; }
    ControllersProveedores controllers = new ControllersProveedores();
    Proveedores proveedores = new Proveedores();

    public string Mensaje;

    protected override void OnInitialized()
    {
        if (ProveedoresId > 0)
        {
            proveedores.ProveedorId = ProveedoresId;
            Buscar();
        }
    }

    private void Guardar()
    {
        if (proveedores.ProveedorId == 0)
        {
            controllers.Guardar(proveedores);
            Mensaje = "Guardo";
            Limpiar();
        }
        else
        {
            if (controllers.Buscar(proveedores.ProveedorId) != null)
            {
                controllers.Modificar(proveedores);
                Mensaje = "Modifico";
                Limpiar();
            }

        }
    }
    private void Limpiar()
    {
        proveedores = new Proveedores();
    }
    private void Eliminar()
    {
        if (proveedores.ProveedorId != 0)
        {
            if (controllers.Buscar(proveedores.ProveedorId) != null)
            {

                controllers.Eliminar(proveedores.ProveedorId);
                Mensaje = "Eliminado";
                Limpiar();

            }
            else
            {
                Mensaje = "Id no existe";
            }

        }
        else
        {
            Mensaje = "Selecione un ID";
        }

    }
    private void Buscar()
    {
        if (proveedores.ProveedorId != 0)
        {
            if (controllers.Buscar(proveedores.ProveedorId) != null)
            {

                proveedores = controllers.Buscar(proveedores.ProveedorId);

            }
            else
            {
                Mensaje = "Id no existe";
            }

        }
        else
        {
            Mensaje = "Selecione un ID";
        }


    }
}
