@page "/RTipoCliente/{TipoClienteId:int}"

@inject IToastService toastService


<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5"
                SuccessClass="success-toast-override"
                SuccessIconClass="fa fa-thumbs-up"
                ErrorIconClass="fa fa-bug" />

<div class="card bg-dark text-light">
    <div class="card-body ">
        <h1>TipoCliente</h1>

        <EditForm Model="@tipoCliente" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <label for="TipoClienteId">Id</label>
            <div class="input-group">
                <InputNumber @bind-Value="tipoCliente.TipoClienteId" class="form-control col-md-2" />
                <button type="button" class="btn btn-outline-success" @onclick="Buscar">Buscar</button>
            </div>
            <br />
            <div class="form-group">
                <label for="Descripcion">Descripcion</label>
                <InputText @bind-Value="tipoCliente.Descripcion" class="form-control col-md-2" />

            </div>

            <br />

            <div class="form-group">

                <button type="button" class="col-md-2 btn btn-info" @onclick="Limpiar">Limpiar</button>
                <button type="submit" class="col-md-2 btn btn-primary">Guardar</button>
                <button type="button" class="col-md-2 btn btn-danger" @onclick="Eliminar">Eliminar</button>
            </div>

            <BlazoredToasts />
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public int TipoClienteId { get; set; }
    ControllersTipoCliente controllers = new ControllersTipoCliente();

    TipoCliente tipoCliente = new TipoCliente();

    public string Mensaje;

    protected override void OnInitialized()
    {
        if (TipoClienteId != 0)
        {
            tipoCliente.TipoClienteId = TipoClienteId;
            Buscar();
        }
    }
    private void Guardar()
    {

        if (tipoCliente.TipoClienteId == 0)
        {
            controllers.Guardar(tipoCliente);
            toastService.ShowSuccess("TipoCliente guardado.", "logrado con exito");
            Limpiar();
        }
        else
        {
            if (controllers.Buscar(tipoCliente.TipoClienteId) != null)
            {
                controllers.Modificar(tipoCliente);
                toastService.ShowSuccess("TipoCliente modificado.", "Exito");
                Limpiar();
            }

        }
    }
    private void Limpiar()
    {
        tipoCliente = new TipoCliente();

    }


    private void Eliminar()
    {

        if (tipoCliente.TipoClienteId != 0)
        {
            if (controllers.Buscar(tipoCliente.TipoClienteId) != null)
            {

                controllers.Eliminar(tipoCliente.TipoClienteId);
                toastService.ShowSuccess("TipoCliente eliminado.", "logrado con exito");
                Limpiar();

            }
            else
            {
                toastService.ShowWarning("Id no existe.", "Precaución");
            }

        }
        else
        {
            toastService.ShowWarning("Selecione un ID.", "Precaución");
        }

    }
    private void Buscar()
    {

        if (tipoCliente.TipoClienteId != 0)
        {
            if (controllers.Buscar(tipoCliente.TipoClienteId) != null)
            {

                tipoCliente = controllers.Buscar(tipoCliente.TipoClienteId);
                toastService.ShowSuccess("TipoCliente encontrado.", "logrado con exito");

            }
            else
            {
                toastService.ShowWarning("Id no existe.", "Precaución");
            }

        }
        else
        {
            toastService.ShowWarning("Selecione un ID.", "Precaución");
        }


    }
}
